@using EntityLayer.Concrete
@model List<Content>
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
{
    <p>
        Anahtar Kelimeler : @Html.TextBox("p")
        <input type="submit" value="Bul" />
    </p>
}
@foreach (var item in Model)
{
    <p>@item.ContentValue</p>
}

